body {
    min-height: 100vh;
    margin: 0;
    background-color: #1c1c1e; 
    color: #fff; 
}

.container {
    background-color: #3a3a3c; 
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    padding: 50px;
    max-width: 900px;
    margin-top: 7% !important;
    margin-bottom: 7% !important;
}
#user {
    max-width: 700px;
}
.img-fluid {
    border-radius: 20px;
    box-shadow: 0 8px 16px black;
    position: relative;
    margin-bottom: 5%;
}
.img-fluid:hover {
    transform: scale(1.05);
}
#profile-picture {
    width: 350px; 
    box-shadow: none;
}
.btn {
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 5px 5px;
    font-weight: 500;
    background-color: #FFDB58;
    margin-right: 2%;
}
.btn:hover {
    background-color: #FFB84A;
    color: black;
    font-weight: 700;
}
li {
    font-size: larger;
}
strong {
    color:#FFB84A ;
}
#menu {
    background-color: #3a3a3c;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    font-size: 1.2rem;
    font-weight: 500;
}
#menu img {
    width: 40px;
    border-radius: 15px;
}
#menu img:hover {
    transform: scale(1.1);
}
#buttons button, #reservation button {
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px 5px;
    font-weight: 500;
    border: none;
    color: #ffffff;
}
#buttons button, .styled, #reservation button {
    border-radius: 10px;
    background-color: #FFDB58;
    color: #1c1c1e;
    font-weight: 500;
    padding: 5px 5px;
}
#buttons {
    padding-right: 1%;
}
.styled {
    font-size: 1.2rem;
}
#buttons button:hover ,.styled:hover, #reservation button:hover {
    background-color: #FFB84A;
    font-weight: 700;
}
a, a:hover {
    text-decoration: none;
    color: black;
}
#datePickerForm {
    font-weight: 600;
    margin-top: 10%;
    border-radius: 15px;
    background-color: #1c1c1e;
    padding: 15px;
}
#datePickerForm:hover, .card:hover {
    transform: scale(1.1);
}
#datePickerForm button {
    font-size: 1rem !important;
    background-color: green !important;
}
p {
    font-size: larger;
    font-weight: 600;
    margin-top: 7%;
    color: #FFB84A;
}
#gombok {
    display: flex;
    margin-top: 15%;
}
#warning {
    font-weight: 500;
    font-size: 1.1rem;
    color: antiquewhite;
    background-color: darkred;
    border-radius: 10px;
    text-align: center;
    margin: 0;
    padding: 5px 5px;
    border: 1px solid white;
}
#warning:hover {
    box-shadow: 5px 5px 5px black;
}
.select {
    color: white; 
    margin: 0;
    font-weight: 500;
    text-shadow: 4px 4px 4px black;
}
#reservation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#reservation img {
    width: 10%;
}
#reservation button {
    margin-top: 2%;
    font-size: 2rem;
}
#reservation p {
    margin-top: 2%;
    color: whitesmoke;
    font-size: 2rem;
}
#main {
    text-shadow: 4px 4px 4px black;
}
#main:hover {
    font-size: larger;
}
.card-body {
    color:#1c1c1e;
}
#kartyak {
    margin-top: 3%;
    margin-bottom: 5%;
    row-gap: 2rem;
    column-gap: 50px;
    justify-content: center;
}
.card {
    height: 20rem;
}
h6 {
    color: darkred;
    font-weight: 650;
    font-size: 1.7rem;
}
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; /
}
.card p {
    color:#3a3a3c;
    font-size: 1rem;
}
.admin {
    height: 24rem;
}
.red {
    
    background-color: darkred;
    color: #E0E0E0;
}
.red:hover {
    background-color: black;
}